<h1><%= "Focus on #{@cocktail.name}" %> </h1>



<ul>
  <% @cocktail.ingredients.each do |ingredient| %>
      <li><%= "Ingredients = #{ingredient.name} : #{@cocktail.doses[0].description}" %></li>
    <% end  %>
</ul>



